html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* border: solid 1px; */
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

li, ul, p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0em;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transform: rotateY(0deg);
}

.deck .card .open {
    transform: rotateY(180deg);
    
    /* background: #02b3e4; */
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
    transition: transform 0.6s;
    background: #02b3e4;
	/* transform-style: preserve-3d; */
	/* position: relative; */
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*
 * Styles for the popup dialog
 */


.dialog {
    position: fixed; 
    /* display: block;  */

    background: linear-gradient(160deg, #02ccba 0%, #5eabc1 100%);
    padding: 12px;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5); 
}

.dialog .stars li {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    color: rgba(8, 6, 1, 0.4);
}

.dialog .stars .fill {
    color: rgba(0, 255, 236, 1);
}


.dialog .stars  {
    list-style: none;
    margin: 2px 64px;
}

.dialog p  {
    margin: 2px 24px;
    font-size: 18px;
    text-align: center;
} 

.dialog button {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    background: #7ecdcb;
    border-radius: 10px;
    padding: 6px 12px;
    border: none;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    margin: 4px 48px;
}